.cart{
    background-color: rgb(51, 5, 5);
    padding: 10px 2.3rem;
    border-radius: 22px;
    cursor: pointer;
}

.cart img{
    height: 17px;
    width: 17px;
    fill: white;
    margin-right: 0.6rem;
}

.cart label{
    background-color: brown;
    padding: 0.2rem 1.1rem;
    margin-left: 1rem;
    border-radius: 30px;
    cursor: pointer;
}
